opencv-python
numpy
scikit-image
imutils
argparse
scikit-image
tqdm
# glob
matplotlib
tensorflow 
ultralytics
PIL
jiwer
transformers
qwen_vl_utils
accelerate>=0.26.0
PEFT
bitsandbytes
torch
re
unicodedata
ipywidgets
